RewriteEngine On
RewriteBase /

RewriteRule  ^es\/news/([0-9]+)/([0-9]+)/searchTag/(.*)$   app.php?module=Newspage&page=news&lang=es&nid=$1&npage=$2&searchTag=$3 [NC]
RewriteRule  ^en\/news/([0-9]+)/([0-9]+)/searchTag/(.*)$   app.php?module=Newspage&page=news&lang=en&nid=$1&npage=$2&searchTag=$3 [NC]

RewriteRule  ^es\/news/([0-9]+)/([0-9]+)/(.*)$   app.php?module=Newspage&page=news&lang=es&nid=$1&npage=$2 [NC]
RewriteRule  ^en\/news/([0-9]+)/([0-9]+)/(.*)$   app.php?module=Newspage&page=news&lang=en&nid=$1&npage=$2 [NC]

RewriteRule ^(es|en)(.*)$  $2?lang=$1 [QSA]

